<link rel="stylesheet" type="text/css" href="{{ asset('css/about.css') }}">
 <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,900;1,500&display=swap');
      
      /* Your other CSS styles */
      body {
        font-family: 'Muli', sans-serif;
      }
    </style>
  </head>
  <style>
 
  .job-card-header {
    position: relative;
    margin-right: 10px;
    width: 50px; /* Adjust the width as needed */
  }

  .job-card-header img {
    width: 100%;
    height: auto;
  }

  .menu-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
background-color:#2e2882;  }

  .job-card-title {
    font-weight: bold;
  }
</style>


   
<img style="width:120px;height:80px; " src="../img/logo.png" alt=" Logo"> 

 <style>
    .header-menu {
        position: relative;
        top: -50px;
        left:50%;
    }

    .header-menu a {
        text-decoration: none;
    }

    .header-menu a:hover {
        text-decoration: underline;
        text-decoration-color: #4eb910;
        font-weight: bold;
        font-size: 20px;
    }
     h3.about-us {
        margin-top: 50px;
    }
</style>


<div class="header-menu">
    <a href="/home" style="color:black;font-weight: bold;">Home<span class="underline" ></span></a>
    &nbsp; &nbsp; 
    <a href="/announce" style="color:black;font-weight: bold;">Announcement<span class="underline"></span></a>
    &nbsp; &nbsp; 
    <a href="/aboutus" style="color:black;font-weight: bold;">About<span class="underline"></span></a>
    &nbsp; &nbsp; 
    <a href="/contact" style="color:black;font-weight: bold;">Contact<span class="underline"></span></a>
    &nbsp; 
    <a href="/login" style="color:black;font-weight: bold;">Login<span class="underline"></span></a>
    &nbsp; 
    <a href="/register" style="color:black;font-weight: bold;">Register<span class="underline"></span></a>
    &nbsp; 
</div>

<div class="page">
  <div class="card">
    <div class="container">
    <center>
      <div class="menu">
        <h3 class="about-us">About us</h3>
        <i class="fas fa-bars"></i>
      </div>
      </center>
      <div class="content">
        <div class="text">
          <h1>Let's Find <br>your dream job.</h1>
          <p>WorkHub is a cutting-edge job application <br>platform  that 
          connects job seekers with top employers from <br>various industries. <br>
           Our mission is to simplify the job search process<br> and empower 
            individuals to find their dream careers. </p>
          <a style="background-color:#4eb910;" href="/contact">Contact us</a>
        </div>  
      </div>
    </div>
    <div class="photo"></div>
  </div>
</div>